.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: inherit;
}
:root {
  --main-bg-section-color: #1E171B;
  --second-bg-section-color:#261F23;
  --white-bg-section-color:#fff;

  --main-color:#DC3C01;
  --white-color:#fff;
  --black-color:#000;

  --main-border-radius:16px !important;
  --second-border-radius:4px !important;
}

.main-color{
  color :var(--main-color);
}

.main-back-color{
  background-color: var(--main-bg-section-color);
}

.second-back-color{
  background-color : var(--second-bg-section-color) ;
}

.custom-white-spacing{
  padding: 20px;
  border-radius: var(--main-border-radius);
}

.custom-card{
  padding: 15px !important;
  border-radius: var(--main-border-radius) ;
}

 .custom-card-body-rounded{
  border-radius: var(--second-border-radius) 40px var(--second-border-radius) 40px !important;
}

.custom-nav-item{
  border: none;
  border-radius: var(--main-border-radius);
  font-size: 18px;

}

.custom-nav-item:hover {
  background-color: var(--white-bg-section-color);
  color: var(--main-color);
}


.custom-nav-item a{  
  background-color: transparent;
  display: block;
  padding: 7px;
  margin-bottom: 6px;
  text-decoration: none;
}

.custom-nav-item:hover a{
  color: var(--main-color); 
}

.custom-nav-item.active{
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
}

.custom-nav-item.active:hover{
  background-color: var(--white-bg-section-color);
  color: var(--main-color);
}



.tags-list li a{
color: var(--black-color);
}

/*  border radius  */
.custom-radius-btn,
.btn, 
button,
body.equal-height .prd-img:not(.prd-img--noequal) img,
a.image-hover-scale,
.panel-heading,
.accordion .panel
.card ,
.custom-caption,
.custom--radius-heading
{
  border-radius: var(--main-border-radius) !important;
}



/* 
    === notice 
    - custom-caption : is for advertisor slider border radius 
    - accordion .panel : is for common question panel border radius 

*/


.page-content{
  width: 98%;
  margin: auto;
}

/* main sliders */
.slick-initialized .bnslider-image, .slick-initialized .bnslider-image-mobile, .no-js .bnslider-image{
border-radius: var(--main-border-radius);
}


/* to ommit background-color of blog post  */
.related-posts .post-prws{
  background-color: transparent !important;
}

/* style the sub menu in mobile language  */
.mobilemenu-content .dropdn .dropdn-content ul li{
  text-align: inherit  !important;
}

.page-content{
  min-height: auto !important;
}




@media(min-width:560px){
  .cart-table-prd.custom-padding-0{
    padding: 0;
  }
}


/* style blog  */
.blog .slick-initialized .slick-slide{
  background: #1E171B;
  border-radius: 0px 40px;
}

.blog .post-prw-img{
  border-radius: 4px 40px 4px 40px;
}

.blog .post-prw-text{
  border-radius: 40px 4px 40px 4px;
}


.cart .cart-table-prd{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* custom cards in cart page  */
@media (max-width: 767px) {
    .custom-product-cart{
    display: flex !important;

  }

   .cart-item .item-img{
    width: 100px !important;
  }
}

/* style custom old price  */
.custom-old-price{
  font-family: "DroidKufi-Regular", 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  padding-right: 10px;
  text-decoration: line-through;
  color: #fff;
  padding-right: 0;
  padding-left: 10px;
}

.custom-new-price{
  font-size: 15px;
}


/* style custom btn in checkout and cart  */

.card-discount-txt{
  height: 50px;
}
